<section class="blog" id="blog">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 ">
        <div class="blog-wthree-list">
          <div class="blog-date-time mb-2">
            <ul>
              <li>
                <a href="single.html">July 2020/7</a>
              </li>
              <li>
                <a href="single.html">Comments 5</a>
              </li>
            </ul>
          </div>
          <h4 class="mb-3">
            <a href="single.html">Lorem ipsum dolor</a>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.Vestibulum nibh urna</p>
          <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
            <a href="single.html" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 main-title-text">
        <h3 class="title">Our Latest News & Blog</h3>
      </div>
    </div>
    <div class="row mt-lg-4 mt-3">
      <div class="col-lg-6 blog-two-two">
        <div class="blog-date-time mb-2">
          <ul>
            <li>
              <a href="single.html">July 2020/7</a>
            </li>
            <li>
              <a href="single.html">Comments 5</a>
            </li>
          </ul>
        </div>
        <h4 class="mb-3">
          <a href="single.html">Lorem ipsum dolor</a>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.Vestibulum nibh urna</p>
        <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
          <a href="single.html" class="btn">Read More</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="images/blog1.jpg" alt="news image" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="images/blog2.jpg" alt="news image" class="img-fluid">
      </div>
      <div class="col-lg-6 blog-two-two">
        <div class="blog-date-time mb-2">
          <ul>
            <li>
              <a href="single.html">July 2020/7</a>
            </li>
            <li>
              <a href="single.html">Comments 5</a>
            </li>
          </ul>
        </div>
        <h4 class="mb-3">
          <a href="single.html">Lorem ipsum dolor</a>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.Vestibulum nibh urna</p>
        <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
          <a href="single.html" class="btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
