#overflow{
  height: 200px;
  overflow: scroll;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.img-fluid-1 {
  max-width: 20%;
  height: auto;
}
