<div class="container">
  <h2>Post Managerment</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Account</th>
        <th>Title</th>
        <th>Content</th>
        <th>Place</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= will_paginate @posts %>
      <%= render @posts %>
    </tbody>
  </table>
</div>
