<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
  <div class="row">
    <h3 class="title mb-md-4 mb-sm-3 mb-3">About Us</h3>
    <div class="about-para-txt">
      <p>The world is so beautiful. Each place, each country has its own mystery.
      <p>One of my favorite quotes all the time is
        <br>
       “Travel makes one modest. You see what a tiny place you occupy in the world.” - <%= link_to "Gustav Flaubert",
              "https://vi.wikipedia.org/wiki/Gustave_Flaubert" %>.</p>
      <p> However, our principle is that travel needs to save and safe. Therefore, with our traveling experiences over 5 continents, we will bring you the realist and best tips about the places we went to. Where are the best local restaurants, which hotels are worthy of staying, how to experience the places as a local person, and so on.</p>
      <p> Our travel writers will give you not only the luxury experiences but also the simplest ones, depending on your budget. We will share with you everything we know as you need for a trip. Then, you can experience it in the best way of your own.</p>
      <i><p>
      Life is short and the world is wide.
      <br>
      Let’s explore the world together!</p></i>
    </div>
      <%= image_tag "journey", alt:"Journey", class: "img-fluid-2" %>
    </div>
  </div>
</section>
