<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
  <div class="row">
    <div class="col-lg-4 about-imgs-txt">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <div class="about-span-txt">
            <span class="fa fa-handshake-o" aria-hidden="true"></span>
          </div>
        </div>
        <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
          <h6 class="mb-lg-3 mb-2">Fishing</h6>
          <p>Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
        </div>
      </div>
      <div class="row my-lg-5 my-md-4 my-3">
        <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
          <h6 class="mb-lg-3 mb-2">Sailing</h6>
          <p>Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <div class="about-span-txt">
            <span class="fa fa-superpowers" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <div class="about-span-txt">
            <span class="fa fa-binoculars" aria-hidden="true"></span>
          </div>
        </div>
        <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
          <h6 class="mb-lg-3 mb-2">Water sports</h6>
          <p>Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 about-imgs-txt">
      <%= image_tag "ab1", alt:"news image", class: "img-fluid " %>
    </div>
    <div class="col-lg-4 col-md-6 text-right about-two-grids">
      <h3 class="title mb-md-4 mb-sm-3 mb-3">What Is Our History</h3>
      <div class="about-para-txt">
        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit sed do eiusmod tempor incididunt ut Lorem ipsum dolor
          sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod
          tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore
          et consectetur adipiscing</p>
      </div>
    </div>
  </div>
</div>
</section>
