<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Modal Heading</h4>
      <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <textarea>
      <%= report.content %>
    </textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-close-modal" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
