body {
  font-family: 'Lato', 'sans-serif';
}
.profile {
  min-height: 400px;
  display: inline-block;
}
figcaption.ratings {
  margin-top:20px;
}
figcaption.ratings a {
  color:#f1c40f;
  font-size:11px;
}
figcaption.ratings a:hover {
  color:#f39c12;
  text-decoration:none;
}
.divider {
  border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis {
  border-top: 4px solid transparent;
}
.emphasis:hover {
  border-top: 4px solid #1abc9c;
}
.emphasis h2 {
  margin-bottom:0;
}
span.tags {
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}
.dropdown-menu {
  background-color: #black;
  box-shadow: black;
  -webkit-box-shadow: black;
  width: 300px;
  margin-left: -125px;
  left: 50%;
}
.dropdown-menu .divider {
  background:none;
}
.dropdown-menu>li>a {
  color:black;
}
.dropup .dropdown-menu {
  margin-bottom:10px;
}
.dropup .dropdown-menu:before {
  content: "";
  border-top: 10px solid #34495e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}
/* ====== The End ====== */
.center {
  text-align: center;
}


.overflow{
  height: 400px;
  weight: 600px;
  overflow: hidden;
}

/* THE POPULAR RED NOTIFICATIONS COUNTER. */
#noti_Counter {
    display:block;
    position:absolute;
    background:#E1141E;
    color:#FFF;
    font-size:12px;
    font-weight:normal;
    padding:1px 3px;
    margin: 1px 0px 30px 50px;
    border-radius:1px;
}
.rating-icon{
  width: 100%;
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px !important;
}
.input-group-btn{
  position: relative;
}
button.btn.btn-info.glyphicon.glyphicon-search{
  height: 39px;
  line-height: 35px;
  border-radius: 5px;
  border: none;
  padding: 0px 35px 0 0;
}
button.btn.btn-info.glyphicon.glyphicon-search:after{
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 5px;
  left: 7px;
}
img.pull-left {
    width: 50px;
    height: 50px;
}
.content p{
    color: #333;
    font-size: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid-2 {
  max-width: 90%;
  height: auto;
}

.blog-thumbnail-1 {
  max-width: 15%;
  height: auto;
  float: left
}

.title {
  margin-top:50px;
}
