<div class="single-articles-area d-flex flex-wrap mb-30">
  <div class="article-thumbnail">
    <%= image_tag "b5.jpg" %>
  </div>
  <div class="article-content">
    <%= link_to place.name, place, class: "post-title" %>
    <div class="post-meta">
      <%= link_to "2 Comments", "#", class: "post-comments" %></p>
    </div>
    <%= link_to "Read more", place, class: "btn egames-btn mt-50" %>
  </div>
</div>
